<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Meals | Aplicação construída com Angular
    </p>
    
    <p class="lead">
      Sistema de delivery de refeições construído com front-end em Angular, como forma de estudo dessa tecnologia. Nele é possível consultar diferentes opções de restaurantes, padarias, hamburguerias, dentre outros; realizar um pedido, fazer pagamento, cadastrar endereço de entraga, etc. No back-end, foi utilizado o json-server.
    </p>

  </section>
<!-- FIM DO CONTEÚDO -->