<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <div class="jumbotron">
    <p class="lead">
      <strong>Fast Delivery</strong> | Aplicação construída com Angular
    </p>

    <p class="lead">
      Sistema de delivery de refeições, bebidas e diversos, construído com front-end em Angular. Nele
      é possível consultar diferentes opções de restaurantes, bares, padarias, hamburguerias, dentre outros; fazer um
      pedido, realizar o pagamento, cadastrar endereço de entrega, etc. No back-end, foi utilizado o json-server (base com dados estáticos).
    </p>
  </div>
</section>
<!-- FIM DO CONTEÚDO -->