<div class="col-md-3 col-xs-12">
  <!--INICIO DO CARRINHO-->
  <div class="box box-solid">
    <div class="box-header">
      <i class="fa fa-shopping-cart"></i>
  
      <h3 class="box-title">Carrinho</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

      <div class="no-items" *ngIf="showItems().length == 0; else elseBlock">
        <p style="color: red">Seu carrinho está vazio</p>
      </div>

      <ng-template #elseBlock>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr *ngFor="let item of showItems()">
              <th style="width:60%">
                {{ item.itemMenu.name }}
              </th>
              <td class="text-right">
                <span>Price</span>
                {{ item.itemMenu.price | currency: 'BRL':true }}</td>
              <td class="text-right">
                <span>Qtd</span>
                {{ item.qtdItens }}
              </td>
              <td class="text-right">
                <a class="btn btn-sm danger" (click)="removeItem(item)">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="text-right">{{ totalToPay() | currency: 'BRL':true }}</td>
            </tr>
          </tbody></table>
        </div>

        <div class="box-footer">
          <div class="btn-actions">
            <a class="btn btn-primary btn-block" [routerLink]="['/restaurants']"><i class="fa fa-shopping-cart"></i> Adicionar outros itens</a>
            <button type="button" class="btn btn-danger btn-block" (click)="removeAllItems()"><i class="fa fa-trash"></i> Limpar Carrinho</button>
          </div>
        </div>

        <div class="box-footer">
          <a class="btn btn-success btn-block" [routerLink]="['/order']"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
        </div>
      </ng-template>
      
    </div>

  </div>
  <!-- FIM DO CARRINHO -->
  </div>