<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon"><img [src]="itemMenu.image_path"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{ itemMenu.name }}</span>
    <span class="menu-item-info-box-detail">{{ itemMenu.description }}</span>
    <span class="menu-item-info-box-price">{{ itemMenu.price | currency: 'BRL':true }}</span>
    <a class="" (click)="addEventEmitter()"><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
