<section class="content">
  <section class="invoice">

<!--     {{ formOrder.valid }}
        {{ formOrder.value | json }}  -->

    <!-- <form #form="ngForm" novalidate> -->
    <form [formGroup]="formOrder" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input label="Endereço" msgError="Campo obrigatório">
            <input class="form-control" formControlName="address" minlength="5" required
              placeholder="Informe a rua e o bairro">
          </mt-input>
        </div>

        <div class="col-sm-2 col-xs-6">

          <mt-input label="Número" msgError="Campo obrigatório">
            <input type="text" class="form-control" formControlName="number" id="inputSuccess" minlength="2" required
              placeholder="Número">
          </mt-input>
        </div>

        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento</label>
            <input type="text" class="form-control" formControlName="complement" id="inputSuccess"
              placeholder="Complemento">
            <!-- <span class="help-block"><i class="fa fa-remove"></i> Help block with error</span> -->
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Suas Informações</p>
        </div>

        <div class="col-sm-6 col-xs-12">
          <mt-input label="Nome" msgError="Campo obrigatório">
            <input type="text" class="form-control" formControlName="name" minlength="5" required placeholder="Nome">
          </mt-input>
        </div>

        <div class="col-sm-3 col-xs-12">
          <mt-input label="Email" msgError=" Email inválido">
            <input type="text" class="form-control" formControlName="email" minlength="5" required placeholder="Email">
          </mt-input>
        </div>

        <div class="col-sm-3 col-xs-12">
          <mt-input label="Confirmação do email" msgError=" Email inválido" msgSuccess="false">
            <input type="text" class="form-control" formControlName="emailConfirm" minlength="5" required
              placeholder="Digite novamente o email">
          </mt-input>
        </div>

        <div class="col-sm-12">
          <span class="help-block pull-right has-error-block" *ngIf="formOrder.hasError('wrongEmails')"><i class="fa fa-remove"></i> Os emails devem ser iguais</span>
        </div>

      </div>

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>

        <mt-items-order [items]="itemsCart()" (increaseQtd)="increase($event)" (decreaseQtd)="decrease($event)"
          (removeItem)="remove($event)"></mt-items-order>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>
          <mt-radio formControlName="paymentOptions" [options]="paymentOptions"></mt-radio>
        </div>

        <!-- frete e total -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [deliveryRate]="deliveryRate" [itemsTotalValue]="itemsTotalValue()"></mt-delivery-costs>
        </div>

      </div>

    </form>
    <!-- [disabled]="!form.valid || itemsCart().length < 1" -->
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success pull-right" (click)="checkOrder(formOrder.value)" [disabled]="!formOrder.valid"><i
            class="fa fa-credit-card"></i> Concluir Pedido</button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->