.btn-login > span {
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #fff;
}

.btn-login a {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link-to-login {
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
}
