<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Fast Delivery: o seu melhor pedido</h1>
     <p>
       Entrega rápida com apenas alguns cliques
     </p>
     <a class="btn btn-lg" id="btn_explorar" [routerLink]="['/stores']">
        Explorar <i class="fa fa-cutlery" aria-hidden="true"></i>
      </a>
  </div>

  <div>
    <mt-register-new-store></mt-register-new-store>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->