<div class="wrapper">

  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="footer main-footer">

    <div class="container">
      <div class="row">
        <div class="text-center">
          <strong>Meals Delivery</strong> Angular App |
          <i class="fa-brands fa-facebook"></i>
          <div class="hidden-xs">
            <b>Copyright</b> 2022
          </div>
        </div>

        <div class="pull-right">
            <a href="#">
              <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
        </div>
      </div>

    </div>
  </footer>
</div>