<section>
    <div class="background-register-login">
        <div class="box-register-login">
            <div class="title-brand-register-login">
                <small>#Fast Delivery</small>
            </div>

            <div class="content-register-login">
                <h3 class="register-login">Login</h3>

                <hr/>

                <form [formGroup]="formLogin">
                    <div class="form-group row">
                        <div class="col-sm-12">                          
                            <input class="form-control" formControlName="username" placeholder="Nome de usuário(a) ou email"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" formControlName="password" placeholder="Senha"/>
                        </div>
                    </div>

                    <div class="form-group row btn-submit-register-login">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-block" (click)="login()" [disabled]="formLogin.invalid">Entrar</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-6">
                        <input type="checkbox" name="lembrar" id="" />&nbsp;
                        <label class="control-label" for="lembrar">Lembrar de mim</label>
                    </div>

                    <div class="col-sm-6">
                        <a [routerLink]="['/#']">Esqueceu sua senha?</a>
                    </div>
                </div>

                &nbsp;

                <div class="row">
                    <!-- <div class="col-sm-6">
                    <label class="control-lable">Ainda não tem conta?</label>
                    </div> -->

                    <div class="col-sm-6">
                        <a [routerLink]="['/register-user']">CADASTRE-SE</a>
                    </div>
                </div>

                <div class="row">
                  <div class="message-login-container" *ngIf="errorMessage !== undefined">{{ erro }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
