<section>
  <div class="background-form-store">
    <div class="box-register-store">
      <div class="content">
        <h3>Nova Loja</h3>

        <hr>
    
        <form>      
          <div class="form-group">
            <label for="Nome">Nome:</label>
            <input class="form-control" type="text" placeholder="Nome da sua loja">
          </div>
        
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" name="categoria" id="categoria">
              <option value="1">Restaurante</option>
              <option value="2">Lachonete</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="subcategoria">Sub-categoria</label>
            <select class="form-control" name="subcategoria" id="subcategoria">
              <option value="1">Restaurante</option>
              <option value="2">Lachonete</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="estimativa">Estimativa de entrega:</label>
            <input type="time" class="form-control" placeholder="Tempo para fazer uma entrega">
          </div>
        
          <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" name="descricao" placeholder="Descreva o tipo de serviço da sua loja">
          </div>
        
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Informe o seu e-mail">
              </div>    
            </div>
        
            <div class="col-sm-6">
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="tel" class="form-control" name="email" placeholder="(00)00000-0000">
              </div>
            </div>
          </div>
        
          <div class="form-group">
            <label for="imagem">Insira uma Imagem/Logo da sua Loja</label>
            <input type="file" name="" id="">
          </div>  
          
          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-success btn-md" id="btn_submit">Salvar</button>
            </div>

            <div class="col-sm-6 flex-end">
              <button type="reset" class="btn btn-default btn-md">Cancelar</button>
            </div>          
          </div>          
          
        </form>
      </div>
    </div>
  </div>
</section>
